.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 30px;
  width: 100vw;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.705);
  align-items: center;
}
.container2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 30px;
  width: 100vw;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.445);
  align-items: center;
}
  img {
    display:block;

    max-width:85px;
    max-height:85px;
  }
  a{
      color: whitesmoke;
      text-decoration: none;
  }
  ul{
      list-style-type: none;
      float: left;
      padding: 15px;
  }
  .mainImg{
    max-height: 397px; max-width: 397px;
    height: 300px;
    width: 300px;
    padding: 15px;
    float: left;
  }
  .maintxt{
      color: black;
      text-align: left;
      font-size: 24px;
      padding: 5px;
      direction: ltr;
  }
  .txtbold{
    font-weight:bold;
    color: black;
    padding: 0px;
    direction: ltr;
    text-align: left;
    font-size: 24px;
    display: inline-block;
    line-height: 2px;
  }
  div{
    float: left;
    font-size: 18px;
  }
  input[type='image']{
    height: 19.85px;
     width: 20px; 
     vertical-align: middle;
     margin-left :-20px;
  }
  input[type='search']{
    width: 40vw;
     height: 50% ;
    vertical-align: middle;
    padding-right: 0px;
    margin-right: 0px;
  }
